/**
 * Styles global file
 */
@import "./variables.less";

body {
}

h2 {
  color: red;
  font-family: "OpenSans";
  text-align: center;
  padding: 11px;
}

.title {
  width: 100%;
  background-color: black;
  opacity: 0.7;
  border-radius: 26px;
}

.main {
  padding: 10px 20px;
  height: 100%;
  width: 100%;

  &.ng-enter, &.ng-leave {
    .transition(~"0.5s ease-out");
  }

  > .users-area {
    height: 100%;
    width: 100%;
    
    > ul {
      width: 90%;
      margin: 27px auto;
      border: black solid 2px;

      > li {
        cursor: pointer;
        height: 29px;
        list-style: none;
        color: red;
        font-family: "OpenSans";
        font-size: 14px;
      }
    }

    > span {
      cursor: pointer;
      display: inherit;
      font-size: 24px;
      font-family: "OpenSans";
      color: red;
      text-align: center;
    }
  }

  > .new-area {
    width: 100%;
  }
}

.modal-window {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;

  > div {
    background: url('../imgs/spartan.png') no-repeat 0 5px;
    width: 516px;
    height: 583px;
    margin: auto auto;
  }
}

@font-face {
  font-family: "OpenSans";
  src: url('@{font-path}OpenSans-Regular-webfont.woff') format('woff'), url('@{font-path}OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Stalemate";
  src: url('@{font-path}Stalemate-Regular.ttf') format('truetype');
}
