<div class="modal-window">
  <h2 class="modal-title">Id de socio</h2>
  <h3 class="modal-h3" data-ng-bind="$root.customerSelected.id"></h3>
  <h2 class="modal-title">Nombre</h2>
  <h3 class="modal-h3" data-ng-bind="$root.customerSelected.name"></h3>
  <h2 class="modal-title">NIF</h2>
  <h3 class="modal-h3" data-ng-bind="$root.customerSelected.nif"></h3>
  <h2 class="modal-title">Teléfono</h2>
  <h3 class="modal-h3" data-ng-bind="$root.customerSelected.telf"></h3>
  <h2 class="modal-title">Fecha de nacimiento</h2>
  <h3 class="modal-h3" data-ng-bind="$root.customerSelected.birthdate"></h3>
  <h2 class="modal-title">Fecha de alta</h2>
  <h3 class="modal-h3" data-ng-bind="$root.formatStringDate($root.customerSelected.startDate)"></h3>
  <h2 class="modal-title">Pagos realizados</h2>
  <ul>
    <li data-ng-repeat="payment in $root.customerSelected.payment">
      <div class="date">
        <span data-ng-bind="$root.formatFullDate(payment.paymentDate)"></span>
      </div>
      <div class="amount">
        <span data-ng-bind="payment.amount"></span>
      </div>
      <div class="delete-icon" data-ng-click="$root.deletePayment(payment)"></div>
    </li>
  </ul>
  <div class="new-payment">
    <span data-ng-click="$root.isNewPayment = !!$root.isNewPayment">Alta de nuevo pago</span>
    <form name="form" data-ng-submit="">
      <div class="form-section">
        <label for="amount">Cantidad (en euros)</label>
        <input class="amount-input" type="text" name="amount" data-ng-model="$root.newPayment.amount"
            required/>
      </div>
      <div class="form-section">
        <label for="paymentDate">Fecha de alta</label>
        <input type="date" name="paymentDate" data-ng-model="$root.newPayment.paymentDate" required/>
      </div>
      <div class="form-section">
        <label for="paymentType">Forma de pago</label>
        <input type="radio" name="paymentType" data-ng-model="$root.newPayment.paymentType" value="credit">Tarjeta de crédito
        <input type="radio" name="paymentType" data-ng-model="$root.newPayment.paymentType" value="cash" checked>Efectivo
      </div>
      <input class="button" type="submit" data-ng-click="$root.addNewPayment(form)" value="Guardar"/>
    </form>
  </div>
  <div class="options">
    <button type="button" data-ng-click="$root.deleteCustomer()">Borrar cliente</button>
  </div>
</div>
