<div class="main">
  <div class="logo">
    <div></div>
  </div>
  <div class="users-area">
    <div class="title">
      <h2>Clientes</h2>
    </div>
    <ul>
      <li data-ng-repeat="customer in $root.customers | limitTo: $root.limitUsers"
        data-ng-click="$root.openModal(customer);"
        data-ng-class-odd="'color-black'"
        data-ng-class-even="'color-white'">
        <div class="name">
          <span data-ng-bind="customer.name"></span>
        </div>
        <div class="date">
          <span data-ng-bind="$root.getStringDate(customer.startDate)"></span>
        </div>
      </li>
    </ul>
    <span data-ng-click="$root.limitUsers = $root.limitUsers + 3;"
        data-ng-hide="$root.limitUsers > $root.customers.length ||
            $root.limitUsers > $root.maxUsersShowed ">
      Mostrar más...
    </span>
  </div>
  <div class="new-area">
    <div class="title">
      <h2>Nuevo Alta</h2>
    </div>
  </div>  
</div>
