<div class="main">
  <div class="logo">
    <div></div>
  </div>
  <span class="backup-logo" data-ng-click="$root.saveToFile()"></span>
  <div class="users-area">
    <div class="title">
      <h2>Clientes</h2>
    </div>
    <div class="search-box">
      <label for="search">Buscar</label>
      <input type="text" name="search" data-ng-model="$root.search"/>
      <span>(Total {{$root.customers.length}} clientes)</span>
    </div>
    <ul>
      <li data-ng-repeat="customer in $root.customers | orderBy:'id':true | searchFilter:$root.search"
        data-ng-click="$root.openModal(customer);"
        data-ng-class-odd="'color-black'"
        data-ng-class-even="'color-white'">
        <div class="name">
          <span data-ng-bind="customer.name"></span>
        </div>
        <div class="date">
          <span data-ng-bind="$root.getStringDate(customer.startDate)"></span>
        </div>
      </li>
    </ul>
  </div>
  <div class="new-area disable-text-highlighting">
    <div class="title" data-ng-click="$root.showForm = !$root.showForm">
      <h2>Nuevo Alta</h2>
    </div>
    <div class="form" data-ng-show="$root.showForm">
      <form name="form" data-ng-submit="">
        <div class="form-section">
          <label for="name">Nombre completo</label>
          <input class="name-input" type="text" name="name" data-ng-model="$root.newCustomer.name"
              placeholder="Nombre y apellidos" required/>
        </div>
        <div class="form-section">
          <label for="dni">Documento de indentidad</label>
          <input class="dni-input" type="text" name="dni" data-ng-model="$root.newCustomer.nif"
              placeholder="DNI, CIF..."required/>
        </div>
        <div class="form-section">
          <label for="tel">Teléfono</label>
          <input class="tel-input" type="tel" name="tel" data-ng-model="$root.newCustomer.telf" placeholder="Teléfono de contacto"/>
        </div>
        <div class="form-section">
          <label for="startDate">Fecha de alta</label>
          <input type="date" name="startDate" data-ng-model="$root.newCustomer.startDate" required/>
        </div>
        <div class="form-section">
          <label for="birthdate">Fecha de nacimiento</label>
          <input type="date" name="birthdate" data-ng-model="$root.newCustomer.birthDate" required/>
        </div>
        <input class="button" type="submit" data-ng-click="$root.addCustomer(form)" value="Guardar"/>
      </form>
    </div>
  </div>  
</div>
