<div class="main">
  <div class="logo">
    <div></div>
  </div>
  <div class="users-area">
    <div class="title">
      <h2>Usuarios</h2>
    </div>
    <ul>
      <li data-ng-repeat="customer in $root.customers | limitTo: $root.limitUsers"
        data-ng-click="$root.openModal(customer);">
        <h4 data-ng-bind="customer.name"></h4>
      </li>
    </ul>
    <span data-ng-click="$root.limitUsers = $root.limitUsers + 3;"
        data-ng-hide="$root.limitUsers > $root.customers.length ||
            $root.limitUsers > $root.maxUsersShowed ">
      Mostrar más...
    </span>
  </div>
  <div class="new-area">
    <div class="title">
      <h2>Nuevo Alta</h2>
    </div>
  </div>  
</div>
