<div class="main">
  <div class="filter-bar">
    <div class="card-type-section">
      <h3>Tipo de carta</h3>
      <ul>
        <li data-ng-repeat="item in $root.constants.cardTypes"
            data-ng-bind="item.name"
            data-ng-click="item.enabled = !item.enabled"
            data-ng-class="{'enabled': item.enabled}">
        </li>
      </ul>
    </div>
    <div class="cost-mana-section">
      <h3>Coste de mana</h3>
      <div data-ng-bind="'hola' | timeIso"></div>
      <ul>
        <li data-ng-repeat="item in $root.constants.manaCost"
            data-ng-bind="item.name"
            data-ng-click="item.enabled = !item.enabled"
            data-ng-class="{'enabled': item.enabled}">
        </li>
      </ul>
    </div>
    <div class="color-section">
      <h3>Color</h3>
      <ul>
        <li data-ng-repeat="item in $root.constants.colors"
            data-ng-bind="item.name"
            data-ng-click="item.enabled = !item.enabled"
            data-ng-class="{'enabled': item.enabled}">
        </li>
      </ul>
    </div>
  </div>
  <ul data-ng-show="$root.mainSet.cardIds.length"
      class="set-cards-container">
    <div data-ng-repeat="item in $root.mainSet.cardIds" class="item-card">
      <div data-card="item" data-ng-click="openModal(item)"></div>
      <input type="checkbox"
          class="input-checkbox"
          data-ng-model="$root.newDeckItems[item]"
          data-ng-change="statusCheckedChange(item)">
    </div>
  </ul>
</div>
